<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
 <suite name="Automation Practice - POM" parallel="false">
     <listeners>
         <listener class-name="listeners.ScreenshotListener"/>
     </listeners>
     <test name="Recorrido completo">
         <classes>
             <class name="tests.MenuPersonasTest"/>
             <class name="tests.MenuEmpresasTest"/>
             <class name="tests.MenuPymesTest"/>
             <class name="tests.MenuBancaPrivadaTest"/>
             <class name="tests.MenuAcercaDelBancoTest"/>
         </classes>
     </test>
 </suite>
